<!doctype html>
<html lang="zh-CN" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{web/layout}">
<head>
    <meta charset="UTF-8" />
    <title>您要访问的页面不存在</title>
    <script>
        function index() {
            setTimeout(function () {
                // 网站访问跳网站首页
                window.location.href = "/";
            },10000);
        }
        window.onload = index();
    </script>
</head>
<body>
<div layout:fragment="content">
    <div style="height: 70px;"></div>
    <div style="margin: 0 auto;width: 1030px;position: relative;">
        <img src="/static/img/404.jpg?v=2017072501" style="width: 100%;display: block;">
        <a style="width: 80px;height: 25px;display: block;position: absolute;top: 250px;left: 570px;" href="/"></a>
    </div>
</div>
</body>
</html>
